/*
font-family: 'Ubuntu', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color:#666;
	font-weight: 400;
}
a,a:visited,a:active,a:hover{
	text-decoration: none;
}

/**************************************************LEFT SIDE MENU*********************************************************/
.left-sidebar .sidebar-caption{
	padding-left: 15px;
}
.sidebar-caption{
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 400;
	display: inline-block;
	margin: 9px 0;
}
.Upload-portfolio
{
	float: right;
}
.right-sidebar .sidebar-caption{
	padding-left: 0;
}
ul.category-menu{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
ul.category-menu li{
	display: block;
	margin-top: 15px;
	font-weight: 300;
	padding:3px;
	padding-left: 15px;
}
ul.category-menu li a{
	color:#999;
}
ul.category-menu li i:before{
	font-size: 25px;
	margin: 0 30px 0 0;
}
ul.category-menu li i{vertical-align: top;}
ul.category-menu li a{vertical-align: middle;}
ul.category-menu li i:before{vertical-align: middle;}

ul.category-menu li:hover a{
	color:#999;
	text-shadow: 1px 0px 4px rgba(0,0,0,0.3);
}
ul.category-menu li:hover i:before{
	text-shadow: 1px 0px 4px rgba(0,0,0,0.2);
}
/*Active menu line*/
ul.category-menu li.active{
	background: #006666;
	color:#fff;
	box-shadow: 1px 0px 4px rgba(0,0,0,0.3);
	width: 100%;
}
ul.category-menu li.active a,
ul.category-menu li.pressed a{
	color:#fff;
}
/**/

/****Banners*****/
.banners img{
	width: 100%;
	height: auto;
	margin-top: 15px;
	border-radius: 3px;
}
/**/

/*Left side dropdown menu*/

.category-menu .li-dd:hover{
	cursor:pointer;
}
.category-menu .li-dd.pressed .dropdown-sdb{
	padding: 0;
	border-top: 1px solid #a3b8b8;
	max-height: 90px;
	visibility:visible;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	overflow: hidden;
	background: #006666;
}
.category-menu .li-dd.pressed .dropdown-sdb li{
	margin: 0;
	padding: 5px 0;
}
.category-menu .li-dd.pressed .dropdown-sdb li a{
	transition:.3s;
	color:#fff;
	display: block;
	padding-left: 62px;
}
ul.category-menu li.pressed{
	background: #006666;
	color:#fff;
	width: 277px;
}
.category-menu .li-dd.pressed .dropdown-sdb li:hover a{
	text-decoration: underline;
}
.category-menu .li-dd .dropdown-sdb{
	max-height: 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	visibility: hidden;
	overflow: hidden;
}


/***************************************Tariff plan block********************************************/
.tariff-plan_block{
	display:flex;
	flex-direction:row;
	align-items: center;
	margin-top: 10px;
	justify-content:center;
}
.tariff-plan_block div.work{
	position: relative;
	transition:.6s ease-in-out .4s;
}
.tariff-plan_block div.work div.work-caption{
	transition:.5s linear .4s;
}
.tariff-plan_block div.work div.work-caption{
	position: absolute;
	bottom:-34px;
	left:0;
	background: #fff;
	width: 100%;
	border-radius: 0 0 3px 3px;
	font-size: 9.5px;
	color:#666;
	opacity: 0;
	line-height: 34px;
	padding-left: 15px;
	box-shadow: 0px 1px 4px 0.00px rgba(0, 0, 0, 0.3);
}
.tariff-plan_block div.work img{
	width: 209px;
	height: 135px;
	margin:auto;
	cursor:pointer;
	border-radius: 3px 3px 0 0;
}
/**/

.tariff-plan_block .work.active-carousel_item{
	z-index:99;
	transform:scale(1.3);
}
.tariff-plan_block .work.active-carousel_item div.work-caption{
	opacity:1;
	width: 100%;
}

/******************************************************************************************************************************************/
/**********************************************************Page About**********************************************************************/
.about-content .content{padding-top: 0;}
.about_portfolio-images a{
	display: block;
	border-radius: 3px;
	box-shadow: 1px 0px 4px rgba(0,0,0,0.3);
	overflow: hidden;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.about_portfolio-images a:nth-of-type(1){
	float: left;
	width: 70.5%;
	height: 450px;
	overflow: hidden;
	position: relative;
}
.about_portfolio-images a:nth-of-type(2),
.about_portfolio-images a:nth-of-type(3)
{
	width: 27%;
	float:right;
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
	height: 217px;
}
.about_portfolio-images a img{
	width: 100%;
	height: auto;
}



p.about-date{
	text-align: right;
	margin-top: 15px;
}
.hashtag a{
	color:#666;
}
.hashtag a:hover{
	color:#989898;
	transition:.5s linear;
}
.about-content .row-portfolio{
	padding-top: 13px;
}
.portfolio-article p{
	font-weight: 300;
	margin-bottom: 0;
	text-indent: 40px;
	font-size: 13px;
}
.portfolio-article{
	margin-top: 15px;
}
.about-content p.auth{
	font-size: 13px;
	margin-bottom: 0;
}
.about-content p.auth a,
.about-content p.auth span{
	color:#006666;
}
.about-content p.auth a{
	text-decoration: underline;
}

/*.about-content .upload-portfolio a{
	background-image: url('../images/pen.png');
}*/

/*lightbox custom*/
.lb-outerContainer{background-color: transparent!important;}
.lb-dataContainer{display: none !important;}
#lightbox{top:30%!important;}





/*****************************************************************Main Page**************************************************************************/
/*Owl carousel for main banner*/
#owl-banner .item img{
    display: block;
    width: 100%;
    height: 630px;
}
#owl-banner .item{
	margin: 0;
}
#owl-banner .owl-controls{
	position: absolute;
	bottom:20px;
	width: 100%;
}
#owl-banner .owl-controls .owl-page span{
	background: #999;
	border:2px solid #006666;
}
#owl-banner .owl-controls .owl-page.active span,
#owl-banner .owl-controls.clickable .owl-page:hover span{
	background: #066;
}
#owl-banner.owl-carousel{
	margin-top: 15px;
}
.catalog-item{
	width: 32.2%;
	margin-right: 15px;
	display: inline-block;
/*	padding-bottom: 45px;
*/	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fdfdfd;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.3);
	box-shadow: 0 1px 4px rgba(0,0,0,.3);
	transition:.1s;
	margin-bottom: 15px;
}
.catalog-img-box{
	position: relative;
	/*min-height: 207px;*/
	height: 207px;
	overflow: hidden;
}
.catalog-item:nth-of-type(3n){margin-right: 0;}
.catalog-item img{
	width: 100%;
	height: auto;
}
/*.catalog-row{
	margin-bottom: 15px;
}*/

.rubric-caption{
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	color:#666666;
	line-height: 30px;
	margin-top: 15px;
}
.social-cont{
	display: block;
	width: 20%;
	float: left;
	text-align: left;
	margin-bottom: 5px;
}
.social-cont a{
	font-size: 20px;
	font-family: 'ico';
	color:#999999;
	cursor: pointer;
	display: inline-block;
}

.all-projects-catalog{
	min-height: 500px;
}
.catalog-row,.catalog-row div{
	vertical-align: top;
}
.catalog-caption span{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	line-height: 30px;
}
.catalog-caption{
	padding: 7px 15px;
}
.catalog-caption p{
	margin-bottom: 0;
	margin-top: 5px;
}
.main-like{
	margin-left: 0px;
	margin-right: 5px;
}
.like-calc{
	position: absolute;
	bottom:5px;
	right:15px;
	font-size: 16px;
	color:#006666;
}

.like-calc.item-price {
	left: 3px;
	z-index: 100;
	color: #fff;
}

.like-calc i{
	margin-right: 7px;
	vertical-align: -2px;
}
.social-cont .main-share:hover,
.social-cont .main-like:hover{
	text-shadow: 0px 2px 0.5px rgba(0, 0, 0, 0.3);
}
.social-cont a.main-share.active-social-button:before{
	content:'\0064';
	color:#006666;
}
.social-cont a.main-like.active-social-button:before{
	content:'\0051';
	color:#006666;
}
.share-container{
	width: 40%;
	float: left;
	opacity:0;
	transition:.5s ease-out .2s;
}
.share-container img{
	width: 48%;
	height: auto;
}
.container-full-catalog .forma-input .icon-tag{
	margin-left: 15%;
	vertical-align: 6px;
}
.container-full-catalog .forma-input{
	padding: 0;
}
.forma-input input.text-input + label{
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
}
.container-full-catalog .forma-input{
	margin-bottom: 10px;
	margin-top: 5px;
}

/*.container-full-catalog .bordered-catalog{
	border-bottom: 1px solid #CCC;
}*/
hr.border-section{
	width: 100%;
	color:#ccc;
	margin: 0;
	height:1px;
	background-color: #ccc;
	clear: both;
}

.container-style-catalog .rubric-caption{
	display: inline-block;
	width: 20%;
}

.container-style-catalog .sel{
	float: right;
	margin-top: 18px;
}
.container-style-catalog .selects{
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 20px;
}
.container-style-catalog .select-styled{
	padding: 8px 10px;
}
.container-style-catalog .selects p {
    margin-left: 55px;
    margin-bottom: 0;
    font-size: 12px;
}
.container-style-catalog .selects i {
    display: inline-block;
    font-size: 35px;
    height: 35px;
    margin-right: 5px;
}
.container-style-catalog .forma-input{
	margin-top: 0px;
}
.container-style-catalog .select-options li{
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	padding: 8px 0;
}
.container-style-catalog .select-options li:hover{
	color:#006666;
}
.container-style-catalog .select{
	font-style: italic;
}

.bottom-banner{
	margin: 10px 0 15px 0;
}
.bottom-banner img{
	width: 100%;
	height: auto;
}
/*special-offers-catalog*/
.special-offers-catalog.page-catalog .catalog-box .catalog-item{
	width: 32.2%;
	margin-right: 15px;
}
.special-offers-catalog.page-catalog .catalog-box .catalog-item:nth-of-type(3n){
	margin-right: 0;
}
.special-offers-catalog .selects p{
	padding-left: 55px;
}
.special-offers-catalog.page-in-catalog .forma-input .icon-tag{
	margin-left: 16.2%;
	vertical-align: 6px;
}
.special-offers-catalog.page-in-catalog .forma-input input.text-input + label{
	font-size: 14px;
	font-weight: 300;
}
.special-offers-catalog .catalog-img-box:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 115px 65px 0;
  border-style: solid;
  border-color: #006666 transparent;
}
.special-offers-catalog.page-in-catalog .item-price i{
	color:#fff;
	float: left;
}
.special-offers-catalog.page-in-catalog .like-calc span{
	font-size: 12px;
}
.special-offers-catalog.page-in-catalog .item-price p.last-price{
	margin-top: -5px;
	margin-bottom: 0;
	font-size: 12px;
	color:#fff;
	text-shadow: 0px 2px 0.5px rgba(0, 0, 0, 0.3);
	text-decoration: line-through;
}
.special-offers-catalog .limited-offer{
	position: absolute;
	top:10px;
	right:15px;
	text-align: right;
}
.special-offers-catalog .limited-offer p{
	font-size: 14px;
	font-weight: 300;
	text-shadow: 0px 2px 0.5px #000;
	color:#fff;
	line-height: 1;
}
.special-offers-catalog .limited-offer p b{
	font-weight: 400;
	text-transform: uppercase;
}
.container-full-catalog .bread-crumbs,.page-catalog .bread-crumbs{
	margin-right: 0;
}



/*******************************************************************Catalog Page********************************************************************************/
.page-catalog .catalog-column{
	padding: 0 !important;
}
.sort-menu ul.sort-categories{
	list-style-type: none;
	display: block;
	width: 80%;
	margin: 0 auto;
	padding: 0;
}
.sort-menu ul.sort-categories li a{
	display: block;
	float: left;
	width: 25%;
	font-size: 13px;
	font-weight: 300;
	color:#666;
	text-align: center;
}
.sort-menu ul.sort-categories li:nth-child(n+5) a{
	width: 33%;
}
.sort-menu ul.sort-categories li a.right-align-sort{
	text-align: right;
}
.sort-menu ul.sort-categories li a.left-align-sort{
	text-align: left;
}
.sort-menu ul.sort-categories li a.active-category{
	color:#006666;
}
.sort-menu ul.sort-categories li a:hover{
	text-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.3);
}

.page-catalog .catalog-box .catalog-item{
	width: 48.5%;
	display: inline-block;
	margin: 0;
	overflow: hidden;
	margin-top: 15px;
}
.page-catalog .catalog-box .catalog-item:nth-of-type(2n+1){
	margin-right: 15px;
}
.page-catalog .catalog-box .catalog-item a{
	display: block;
}
.page-catalog .catalog-box .catalog-item a img{
	width: 100%;
	height: auto;
	min-height: 195px;
}
.catalog-caption{
	font-size: 12px;
	/*padding: 10px 15px;*/
}
.page-catalog .catalog-img-box{
/*	min-height:195px;
*/	height: 195px;
}
.page-catalog .bread-crumbs{
	margin-top: 15px;
}
/*******************************Catalog-in Page***********************************/
.page-in-catalog .sel {
    float: right;
}
.page-in-catalog .selects {
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 10px;
}
.page-in-catalog .selects i {
    display: inline-block;
    font-size: 35px;
    height: 35px;
    margin-right: 5px;
}
.page-in-catalog .sidebar-caption{
	margin-bottom: 0;
}
.page-in-catalog .forma-input .icon-tag{
	margin-left: 89px;
}
.page-in-catalog .forma-input{
	padding: 0;
}
.page-in-catalog .select-options li{
	padding: 5px 0;
}
.page-in-catalog .social-cont{
	width: 100%;
	float: left;
	text-align: left;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.catalog-item{
	vertical-align: top;
}
.page-in-catalog .social-cont .main-like{
	margin-left: 0;
	width: 20px;
}
/*.page-in-catalog .catalog-box .catalog-caption{
	padding: 0 15px;
}*/
.page-in-catalog .social-cont a{
	font-size: 16px;
}
.page-in-catalog .like-calc span{
	color:#fff;
	text-shadow: 0px 2px 0.5px rgba(0, 0, 0, 0.3);
	font-size: 15px;
}
.page-in-catalog .item-price{
	left:15px;
	bottom:6px;
}
.page-in-catalog .item-price i{
	font-size: 27px;
	vertical-align: -6px;
}
/********Catalog-in flying to cart*******/
/*.draggable-it-box .add-to-order{
	
}*/






/**************************Full Catalog Page*********************************/
.page-full-catalog.page-catalog .catalog-box .catalog-item{
	margin-right: 15px;
}
.page-full-catalog.page-catalog .catalog-box .catalog-item:nth-child(3n+3){
	margin-right: 0px;
}
.page-full-catalog.page-catalog .catalog-box .catalog-item{
	width: 32.2%;
}
.page-full-catalog .sort-menu ul.sort-categories li:nth-child(n+5) a,
.page-full-catalog .sort-menu ul.sort-categories li a{
	width: 19.25%;
    margin-top: 5px;
	text-align: сenter;
}
.page-full-catalog .sort-menu ul.sort-categories{
	width: 67%;
}
.page-full-catalog.central-content{
	border:none;
}

.catalog-item:hover{
	box-shadow: 0px 0px 8px rgba(0,0,0,.3);
	transition:0.1s;
}

/*Specail Offer full page*/
.page-in-catalog .row-sp-offer .sel{
 margin-top: -25px;
}
/*SP offer*/
.special-offers-catalog.page-catalog .page-offer_content .catalog-box .catalog-item{
	width: 48.5%;
	margin-right: 15px;
}
.special-offers-catalog.page-catalog .page-offer_content .catalog-box .catalog-item:nth-child(2n){
	margin-right: 0;
}
.special-offers-catalog .page-offer_content .forma-input .icon-tag{
	margin-left: 13.5%;
}

/*Page-in-catalog FULL*/
.page-in-catalog.page-full-catalog .forma-input .icon-tag{
	margin-left: 16.2%;
}


/*About Full*/

/*
.about-full .about_portfolio-images a:nth-of-type(1){
	background: url('../images/f-about-1.jpg') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 525px;
}
.about-full .about_portfolio-images a:nth-of-type(2){
	background: url('../images/f-about-2.jpg') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 255px;
}
.about-full .about_portfolio-images a:nth-of-type(3){
	background: url('../images/f-about-3.jpg') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 255px;
}
*/

.central-content.about-full{
	border:none;
}

/*styles for lightbox PAGE new-profile-me*/

.lb-container a{
	display: block;
	float: left;
	width: 19.5%;
	height: 30px;
	overflow: hidden;
	margin-right: 10px;
	margin-top: 10px;
}
.lb-container a:nth-of-type(1){
	width: 100%;
	height: 166px;
	margin: 0;
}
.lb-container a:last-of-type{
	margin-right: 0;
}

.lb-container a img{
	width: 100%;
	height:auto;
}

/*profile-2b*/
.central-content .profil.pf-new{
	min-height: 480px;
	-webkit-background-size: cover;
	background-size: cover;
	color:#303030;
}
.central-content .profil .trasnparent-layer{
	background: rgba(255,255,255,.2);
	min-height:inherit;
	padding: 30px 15px;
}
.central-content .profil.pf-new .members-comp{
	width: 28%;
	float:left;
	padding: 0;
}
.prof-comp-logo{
	width: 190px;
	height: 98px;
	overflow: hidden;
	border: 6px solid #006666;
	background: #fff;
	border-radius: 5px;
	margin: 0 auto;}

.prof-comp-logo img{
	width: 100%;
	height: 100%;
}
.members-comp .members-list,
.left-side-prof .pr-name,
.right-side-prof .quote{
	width: 100%;
	background: #fff;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.4);
	padding: 10px;
	position: relative;
	margin-top: 15px;
	min-height:50px;
}
.members-comp .members-list:before,
.left-side-prof .pr-name:before{
	content: "";
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	top: -9px;
	left: 50%;
	margin-left: -10px;
	border-bottom: 10px solid #fff;
}

.members-comp .members-list p{
	font-size: 18px;
	text-align: center;
}
.members-comp .members-list ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.members-comp .members-list ul li{
	padding: 5px;
	position: relative;
	font-size: 18px;
	font-weight: 300;
	line-height: 1;
}
.members-comp .members-list ul li:before{
	content:'';
	display: inline-block;
	width: 6px;
	height: 6px;
	background: #066;
	position: absolute;
	top:12px;
	left:0;
	border-radius: 50%;
}
.central-content .profil.pf-new .profile-info{
	float:left;
	width: 72%;
}
.profil.pf-new .profile-info .left-side-prof{
	width: 34%;
	padding: 0 15px;
	float: left;
}
.left-side-prof .profil-photo{
	margin: 0 auto;
	width: 100px;
}
.left-side-prof .profil-photo img{
	margin: 0;
}
.profil.pf-new .profil-photo .icon-heart297{
	left: 67px;
	bottom: 3px;
	background: #fff;
	border-radius: 50%;
}
.profil.pf-new .profil-photo .icon-heart297 p{
	/*right: -16px;*/
	bottom: -9px;
	background: #fff;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 7px;
	line-height: 1.9;
	font-size: 13px;
	z-index:-1;
	font-style: normal;
	left:13px;
}
.left-side-prof .pr-name p{
	text-align: center;
	font-size: 16px;
	margin: 0;
}
.left-side-prof .pr-name .pr-heading{
	font-size: 20px;
	position: relative;
	margin-bottom: 20px;
}
.left-side-prof .pr-name .pr-heading:before{
	content:'';
	position: absolute;
	bottom:-9px;
	left:35%;
	display: block;
	width: 50px;
	height: 2px;
	background: #066;
}
.left-side-prof .pr-follows span{
	display: block;
	line-height: 2.5;
	font-size: 12px;
	color:#666666;
	font-weight: 300;
}
.left-side-prof .pr-follows span a{
	font-size: 10.84px;
	margin: 0;
	text-decoration: underline;
}
.left-side-prof .pr-follows span i{
	margin-right: 10px;
}
.right-side-prof{
	float: right;
	width: 66%;
}
.right-side-prof .quote{
	padding: 20px 12px 20px 20px;
	margin: 0;
}
.right-side-prof .quote p{
	font-size: 14px;
	font-weight: 300;
	color:#666;
	margin: 0;
	line-height: 18px;
}
.right-side-prof .quote:before{
	content: '\0052';
	font-family: 'ico';
	font-size: 23px;
	color: #006666;
	position: absolute;
	left: 10px;
	top: -4px;
}
.right-side-prof .quote:after{
	content: '\0052';
	font-family: 'ico';
	font-size: 23px;
	color: #006666;
	position: absolute;
	right: 10px;
	bottom: -4px;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.right-side-prof .un-prof-line{
	margin-top: 15px;
}
.right-side-prof .un-prof-line .soc-profile{
	float: left;
	margin: 0;
	margin-bottom: 15px;
}
.right-side-prof .un-prof-line .soc-profile ul{
	padding: 0;
	margin: 0;
}
.right-side-prof .un-prof-line .soc-profile li{
	margin: 0;
	margin-right: 7px;
}
.right-side-prof .un-prof-line .soc-profile li:last-of-type{
	margin-right: 0;
}
.profile-info .right-side-prof .un-prof-line .message{
	float:right;
	margin: 0;
}
.right-side-prof .soc-profile li a i::before{
	margin: 0;
	font-size: 17px;
}
.un-prof-line div.message{
	background: #fff;
	border-radius: 14px;
	padding-right: 10px;
}
.un-prof-line div.message a{
	margin: 0;
	font-weight: 300;
	/*vertical-align: 2px;*/
	line-height: 2;
}
.un-prof-line .message i{
	margin-right: 5px;
}

/*Page edit profile*/
.profile-content.prof-edit-changes .content{
	padding: 0;
}
.profil-edited.profil{
	background: url(../images/profile-bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	padding: 0 15px;
	margin:0 -15px;
}
.profil-edited .sub-wrap{
	background: #fff;
	width: 85%;
	margin: 0 auto;
	border: 1px solid #eaeae8;
	box-shadow: 1px 1px 1px rgba(0,0,0,.24);
	border-radius: 5px;
	margin-top: 15px;
	padding:15px 0;
} 
.profil-edited .sub-wrap .selects p{
	margin-top: 0;
}
.profil-edited .edit-company{
	margin-top: 15px;
}
.profil-edited .edit-company .input-container{
	width: 90%;
}
.profil-edited .edit-company .input-container:before{
	content:'';
	display: inline-block;
	width: 6px;
	height: 6px;
	background: #066;
	position: absolute;
	top:18px;
	left:-11px;
	border-radius: 50%;
}
.profil-edited span.textarea{
	margin-top: 15px;
}
.edit-company .prof-comp-logo{
	float:left;
	position: relative;
}
.edit-company .prof-comp-logo a{
	margin: 0;
}
.edit-company .prof-comp-logo a:before{
	content: '\0066';
	font-size: 19px;
	font-family: 'ico';
	position: absolute;
	margin: 0 auto;
	color: #fff;
	padding: 1px 5.5px 2px;
	background: rgba(51, 51, 51, 0.5);
	border-radius: 50%;
	margin-left: -15px;
	bottom: 29%;
	z-index: 100;
	left: 50%;
}
.edit-company .input-comp-container{
	float:right;
	width: 69%;
	margin: 0;
	padding: 10px 5px;
}
.edit-company .input-comp-container .input-edit{
	float:right;
}
.edit-company .input-comp-container .input-edit:nth-of-type(1){
	float:left;
	min-height: 150px;
}
.input-comp-container .input-edit:nth-of-type(1) .input-container:before{
	display: none;
}

/*Profile-me-edited*/
.user-profile-edited .profil.pf-new .members-comp,
.user-profile-edited .profil.pf-new .profile-info{
	width: 100%;
	float:none;
}
.user-profile-edited .profil.pf-new{
	margin: -10px -15px 0 -15px;
	padding: 15px;
}
.user-profile-edited .left-side-prof.central-prof .pr-name{
	margin-top:15px;
}

.user-profile-edited .right-side-prof{
	margin-top: 15px;
	width: 67%;
}
.user-profile-edited .right-side-prof .un-prof-line .soc-profile ul{
	display: block;
	width: 100%;
	text-align: center;
}
.user-profile-edited .right-side-prof .un-prof-line .soc-profile{
	display: block;
	float:none;
	width: 100%;
}
.user-profile-edited .prof-comp-logo{
	float:left;
}
.user-profile-edited .members-comp .members-list{
	float:right;
	width: 66%;
	margin-top: 0;
}
.user-profile-edited .members-comp .members-list:before{
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	top: 50%;
	left: -10px;
	border-right: 10px solid #fff;
	margin-top: -10px;
}
.user-profile-edited .members-comp .members-list ul{
	float: right;
}
.user-profile-edited .members-comp .members-list p{
	float: left;
}
.user-profile-edited .left-side-prof .pr-name::before{
	display: none;
}
.user-profile-edited .central-prof .pr-name::after{
	content: "";
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	top: -9px;
	left: 50%;
	margin-left: -10px;
	border-bottom: 10px solid #fff;
}
.user-profile-edited .profil.pf-new .left-side-prof{
	padding: 0;
	margin-right: 15px;
	width: 29%;
}
.user-profile-edited .profil.pf-new .left-side-prof.central-prof{
	float:none;
	margin: 0 auto;
	width: 34%;
}
.user-profile-edited .view-buttons{
	z-index:999;
	margin: 10px auto;
	min-width:250px;
	font-size: 11.95px;
	font-weight: 300;
}
.user-profile-edited .pr-follows .ch-tariff{
	display: block;
	position: absolute;
	padding: 4px 7px;
	border-radius: 3px;
	right:0;
	bottom:0;
	color:#fff;
	background: #066;
}
.user-profile-edited .edit a{
	margin: 0;
}
.catalog-item.similar-item img
{
	max-height: 165px;
}
.catalog-item.similar-item
{
	width: 31.88%;
}
.agent-select-images a:nth-of-type(1)
{
	height: 310px;
}
.agent-select-images a:nth-of-type(2),
.agent-select-images a:nth-of-type(3)
{
	height: 147px;
}

#item-editor .button
{
	float: right;
	height: 30px;
	width: 97px;
	color: #fff;
	border:none;
	background: #066;
	border-radius: 3px;
	margin: 15px 0;
	
}
.auth-agent.auth 
{
    float: right;
    margin-top: 10px;
	font-size: 13px;
	color: #066;
}
.auth-agent.auth a
{
	text-decoration: underline;
	color: #066;
}
.agent-hashtag-project.hashtag
{
	display: inline-block;
	margin-top: 15px;
}
.about_portfolio-caption .about-date
{
	float: right;
}
/*
.about_portfolio-images,
.about_portfolio-images a
{
	position: relative;
}

.about_portfolio-images a img
{
	position: absolute;
	top: 50%;
	margin-top: -30.5%;
}
*/

