@charset "UTF-8";
/* line 2, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.left-sidebar + .col-lg-7 {
  margin-left: 292.5px; }

/* line 9, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.catalog-box {
  margin-top: 10px; }

/* line 14, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.profil-img {
  display: inline-block;
  width: 32.3%;
  margin: 5px 2px; }

/* line 20, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.catalog-item {
  margin-right: 0;
  margin-left: 15px;
  width: 48.5%; }
  /* line 26, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.catalog-item
img {
    height: 100%;
    width: inherit; }
  /* line 32, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.catalog-item:nth-of-type(2n+1) {
    margin-left: 0; }

/* line 41, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.reviews-comment
.my-content-messages
p {
  color: #666666; }

/* line 51, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.showrooms
.catalog-box
.catalog-item {
  background: #066;
  color: #fff;
  overflow: hidden;
  position: relative; }
  /* line 58, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.showrooms
.catalog-box
.catalog-item:nth-of-type(2n+1) {
    margin-left: 15px !important; }
  /* line 62, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.showrooms
.catalog-box
.catalog-item:nth-of-type(2n) {
    margin-left: 0 !important; }
  /* line 66, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.showrooms
.catalog-box
.catalog-item
a {
    display: block;
    width: 100%; }
  /* line 71, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.showrooms
.catalog-box
.catalog-item
.town {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    color: #666; }
  /* line 81, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.showrooms
.catalog-box
.catalog-item
.catalog-img-box {
    height: 194px; }
  /* line 85, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.showrooms
.catalog-box
.catalog-item
.catalog-caption p {
    margin-top: 0; }

/* line 91, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.showrooms
.hashtag {
  margin-bottom: 10px; }

/* line 96, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.agents {
  padding: 0 15px;
  display: inline-block;
  width: 430px; }
  /* line 102, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.agents
.logos {
    border: 4px solid #066;
    box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    overflow: hidden;
    width: 191px;
    height: 95px;
    display: inline-block;
    vertical-align: top; }
  /* line 113, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.agents
.agent {
    box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    overflow: hidden;
    width: 191px;
    height: 95px;
    display: inline-block;
    background: #fff;
    vertical-align: top;
    margin-left: 13px; }
    /* line 125, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.agents
.agent
img.photo {
      border-radius: 50%;
      border: 2px solid #066;
      width: 32px;
      height: 32px;
      display: table;
      margin: 5px auto; }
    /* line 134, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.agents
.agent
h5.name {
      font-family: Roboto;
      font-size: 20px;
      line-height: 18px;
      color: #333;
      font-weight: 400;
      text-align: center;
      position: relative;
      padding-bottom: 10px;
      margin: 5px auto 0; }
      /* line 146, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
      .profile-agent
.agents
.agent
h5.name:before {
        width: 46px;
        height: 2px;
        background: #066;
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -23px; }
    /* line 158, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.agents
.agent
p {
      font-family: Roboto;
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      color: #333;
      text-align: center; }
  /* line 168, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.agents
.description {
    box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.4);
    width: 388px;
    height: 120px;
    background: #fff;
    border-radius: 5px;
    margin-top: 15px; }
    /* line 177, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.agents
.description
ul {
      padding-left: 0; }
      /* line 180, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
      .profile-agent
.agents
.description
ul
li {
        width: 49.5%;
        display: inline-block;
        margin-top: 12px; }
        /* line 187, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
        .profile-agent
.agents
.description
ul
li
a {
          font-family: Roboto;
          line-height: 18px;
          font-weight: 300;
          font-size: 11px;
          color: #666; }
          /* line 195, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
          .profile-agent
.agents
.description
ul
li
a
i:before {
            font-size: 20px;
            vertical-align: middle;
            color: #066; }
  /* line 206, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.agents
.soc {
    margin-top: 15px; }
    /* line 210, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.agents
.soc
li {
      display: inline-block; }
      /* line 214, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
      .profile-agent
.agents
.soc
li
i:before {
        color: #fff;
        font-size: 18px;
        background: #066;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.4);
        text-align: center;
        line-height: 30px; }

/* line 229, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.agent-profil {
  padding-top: 10px;
  background-size: cover; }
  /* line 234, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.agent-profil + .promote {
    padding-left: 10px; }

/* line 239, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.content {
  padding: 0 5px; }

/* line 243, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.agent-text {
  float: right;
  width: calc(100% - 445px);
  background: #fff;
  border-radius: 5px;
  margin-right: 15px;
  position: relative; }
  /* line 253, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.agent-text
p {
    font-size: 14px;
    line-height: 18px;
    font-family: Roboto;
    color: #333;
    font-weight: 300;
    padding: 36px 15px 20px;
    position: relative; }
    /* line 263, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.agent-text
p:before,
    .profile-agent
.agent-text
p:after {
      font-size: 28px;
      color: #066;
      position: absolute;
      content: '\0052';
      font-family: 'ico';
      top: 10px;
      left: 10px;
      width: 30px;
      height: 30px; }
    /* line 275, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.agent-text
p:after {
      bottom: 0px;
      right: 10px;
      top: inherit;
      left: inherit; }
  /* line 286, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.agent-text
.forma-input input.text-input + label,
  .profile-agent
.agent-text
.forma-input
input {
    padding-left: 10px; }
  /* line 290, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.agent-text
.forma-input
textarea {
    box-shadow: none; }

/* line 298, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.consultant
.profile-edite {
  width: 104px !important; }
  /* line 304, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.consultant
.profile-edite
.profil-photo
img {
    width: 70px;
    height: 70px;
    border: 3px solid #066;
    margin-top: 0; }

/* line 315, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.consultant
.forma-input {
  width: calc(100% - 109px);
  display: inline-block;
  vertical-align: middle; }
  /* line 321, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.consultant
.forma-input
.input-edit {
    width: calc(100% / 3.04);
    display: inline-block; }
    /* line 326, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.consultant
.forma-input
.input-edit
i:before {
      font-size: 27px;
      color: #cacaca;
      margin-left: 0 !important;
      vertical-align: bottom; }
    /* line 333, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.consultant
.forma-input
.input-edit
.input-container {
      width: 65% !important;
      margin: 10px 0 0 0px !important; }
    /* line 339, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.consultant
.forma-input
.input-edit:nth-of-type(4) {
      width: 42%; }
      /* line 343, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
      .profile-agent
.consultant
.forma-input
.input-edit:nth-of-type(4)
.input-container {
        width: 100% !important; }
  /* line 350, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.consultant
.forma-input
div.radio-button {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px; }
    /* line 355, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.consultant
.forma-input
div.radio-button
label {
      font-weight: 300;
      font-size: 14px;
      font-family: Roboto;
      color: #333; }
    /* line 363, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.consultant
.forma-input
div.radio-button
p {
      font: 300 13px/18px Roboto;
      color: #999;
      margin-bottom: 0; }
  /* line 370, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.consultant
.forma-input + .sline {
    width: 95%;
    margin: 20px auto 10px; }

/* line 376, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.consultant
.button {
  border: none;
  background: #066;
  color: #fff;
  border-radius: 5px;
  width: 97px;
  height: 30px;
  vertical-align: bottom;
  margin-left: 15px; }

/* line 389, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.mesages {
  box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 5px;
  padding-left: 0;
  padding-bottom: 10px;
  width: 95.8%;
  margin: 10px auto; }
  /* line 399, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.mesages
li {
    list-style: none;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px; }
    /* line 408, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.mesages
li:before {
      border-radius: 50%;
      width: 7px;
      height: 7px;
      background: #066;
      position: relative;
      content: '';
      display: inline-block;
      margin-right: 25px;
      vertical-align: middle; }
    /* line 420, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.mesages
li
img {
      width: 32px;
      height: 32px;
      border: 2px solid #066;
      border-radius: 50%;
      margin-right: 10px; }
    /* line 428, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.mesages
li
a {
      font-size: 16px;
      font-family: Roboto;
      color: #333;
      font-weight: 300; }
    /* line 435, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.mesages
li
span {
      font-size: 14px;
      color: #999; }
    /* line 440, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.mesages
li
i {
      margin-right: 0;
      float: right;
      font-size: 14px;
      line-height: 18px;
      color: #333;
      font-weight: 300;
      font-style: normal; }
      /* line 450, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
      .profile-agent
.mesages
li
i:before {
        color: #fff;
        font-size: 18px;
        background: #066;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.4);
        text-align: center;
        line-height: 30px;
        vertical-align: middle;
        margin-right: 15px; }

/* line 470, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.mesages + .video {
  text-align: center;
  padding: 10px 0 15px; }
  /* line 475, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.mesages + .video
iframe {
    width: 466px;
    height: 260px;
    margin: 0 auto;
    display: table; }

/* line 483, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.promote-bottom {
  margin-top: 13px; }

/* line 487, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
p.upload-portfolio.download-portfolio.edit {
  margin-right: 15px; }

/* line 493, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.portfolio-top
h5 {
  position: relative;
  width: 26%; }

/* line 498, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.portfolio-top
h5 .upload-portfolio.edit {
  position: absolute;
  right: 0;
  top: 0; }

/* line 507, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.analytics
.last-days {
  float: right;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 300;
  color: #999;
  margin-top: 23px; }

/* line 516, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.analytics
.promote {
  margin-top: 22px !important; }

/* line 520, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.analytics
.graphic {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 15px;
  overflow: hidden; }
  /* line 528, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.analytics
.graphic
p {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: inline-block;
    text-align: center;
    position: absolute;
    left: -70px;
    bottom: 0px;
    top: 52px;
    height: 50px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 27px;
    color: #666;
    font-weight: 400;
    width: 100%; }
  /* line 546, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.analytics
.graphic
img {
    padding-left: 83px; }

/* line 553, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.analytics
ul {
  display: inline-block;
  width: calc(100% - 253px);
  vertical-align: middle;
  padding-left: 30px;
  margin-top: -5px; }
  /* line 561, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.analytics
ul
li {
    list-style: none;
    width: 49.5%;
    display: inline-block;
    font: 300 14px/27px Roboto; }
    /* line 568, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.analytics
ul
li:nth-child(2n) {
      padding-left: 20px; }
      /* line 571, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
      .profile-agent
.analytics
ul
li:nth-child(2n)
span {
        padding-right: 0; }
    /* line 577, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.analytics
ul
li
span {
      float: right;
      padding-right: 20px; }
    /* line 582, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.analytics
ul
li
i {
      width: 15px;
      height: 15px;
      display: inline-block;
      border-radius: 5px;
      vertical-align: middle; }
    /* line 590, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.analytics
ul
li.Guests i {
      background-color: #cbe4e4; }
    /* line 594, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.analytics
ul
li.Agent i {
      background-color: #339999; }
    /* line 598, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.analytics
ul
li.Homeowner i {
      background-color: #99cccc; }
    /* line 602, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.analytics
ul
li.Manufacturer i {
      background: #2F9292; }
    /* line 606, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.analytics
ul
li.Designers i {
      background: #006666; }
    /* line 610, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.analytics
ul
li.Pros i {
      background: #268686; }

/* line 616, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.analytics
a.button {
  width: 178px;
  height: 30px;
  background-color: #3a6666;
  border-radius: 5px;
  float: right;
  text-align: center;
  color: #fff;
  line-height: 30px;
  position: relative;
  top: -40px; }

/* line 630, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.more-info {
  clear: both;
  padding: 0 30px;
  display: none;
  overflow: hidden; }
  /* line 638, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.more-info
.graphics {
    width: calc(100% / 2);
    float: left;
    vertical-align: top;
    padding: 0 25px; }
  /* line 645, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.more-info
.chart {
    margin-left: 0;
    display: inline-block;
    vertical-align: middle; }
  /* line 651, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.more-info
ul {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px; }
    /* line 657, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.more-info
ul
li {
      list-style: none; }
      /* line 660, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
      .profile-agent
.more-info
ul
li
i {
        width: 15px;
        height: 15px;
        display: inline-block;
        border-radius: 5px;
        vertical-align: middle; }
  /* line 671, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.more-info
p {
    text-align: center;
    font: 400 14px/27px Roboto;
    margin-bottom: 0; }
  /* line 677, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.more-info
.graphics-bottom {
    padding-top: 40px;
    overflow: hidden;
    display: block;
    clear: both; }
  /* line 684, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.more-info
h5 {
    text-align: center;
    text-transform: uppercase;
    font: 300 14px/27px Roboto;
    margin-top: 40px;
    color: #999; }

/* line 693, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
button.submit {
  position: absolute;
  width: 30px;
  height: 30px;
  border: none;
  top: 0;
  background: url(../images/search-2.png) no-repeat; }

/* line 702, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.input-container {
  width: 100% !important; }
  /* line 707, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.input-container input.text-input + label,
  .profile-agent
.input-container
input {
    padding-left: 40px; }

/* line 712, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.promote + h4 {
  font: 400 16px/20px Roboto;
  margin-bottom: 5px; }

/* line 717, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.name-folder {
  margin-top: 15px;
  width: calc(100% / 2.07); }
  /* line 722, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.name-folder:nth-of-type(2n) {
    margin-left: 15px; }

/* line 727, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.icon-home {
  display: inline-block;
  vertical-align: bottom;
  height: 27px; }
  /* line 733, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.icon-home:before {
    font-size: 27px; }

/* line 739, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.selects {
  position: relative;
  width: 335px;
  margin-bottom: 10px;
  display: inline-block; }
  /* line 746, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.selects
select {
    border: none;
    border-bottom: 1px solid #ccc;
    width: 85%;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    -ms-appearance: none;
    appearance: none !important;
    padding-left: 10px;
    font-size: 14px;
    color: #666;
    font-weight: 300;
    font-family: Roboto;
    line-height: 35px;
    height: 35px;
    display: inline-block; }
    /* line 766, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.selects
select::-ms-expand {
      display: none; }
    /* line 770, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent
.selects
select:focus {
      outline: none; }
  /* line 775, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.selects:after {
    content: '';
    position: absolute;
    right: 15px;
    top: 17px;
    border: 5px solid transparent;
    border-top: 5px solid #ccc; }
  /* line 785, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.selects + .hashtag {
    display: inline-block; }

/* line 792, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.mesages.comp
i {
  float: initial; }
  /* line 796, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent
.mesages.comp
i:before {
    margin-right: 0;
    margin-left: 35px; }

/* line 802, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.mesages.comp
b {
  float: right;
  vertical-align: middle;
  font: 300 13px/30px Roboto;
  color: #066; }

/* line 809, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.mesages.comp
.input-container {
  width: 85% !important;
  margin: 10px 0 0 65px; }

/* line 815, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent
.mesages.comp .input-container input.text-input + label,
.profile-agent
.mesages.comp
.input-container input {
  padding-left: 10px; }

/* line 824, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.agent-modal-product
.modal-dialog {
  width: 660px; }

/* line 828, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.agent-modal-product
.modal-content {
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  width: 660px; }
  /* line 835, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .agent-modal-product
.modal-content
h5.title {
    font-size: 18px;
    font-family: Ubuntu;
    font-weight: 400;
    color: #666;
    text-align: center;
    margin-top: 10px; }
  /* line 844, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .agent-modal-product
.modal-content
p.mini-title {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    font-family: Roboto;
    color: #666;
    margin-top: 7px;
    margin-bottom: 0;
    line-height: 14px; }
  /* line 855, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .agent-modal-product
.modal-content
.input-container {
    margin-top: 0;
    width: 100%; }
    /* line 860, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .agent-modal-product
.modal-content
.input-container
label {
      text-transform: uppercase;
      font-style: normal;
      color: #666; }
  /* line 867, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .agent-modal-product
.modal-content
.forma-input {
    width: 230px;
    display: inline-block;
    vertical-align: bottom; }
  /* line 873, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .agent-modal-product
.modal-content
.selects {
    position: relative;
    width: 100%;
    margin-bottom: 10px; }
    /* line 879, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .agent-modal-product
.modal-content
.selects
select {
      border: none;
      border-bottom: 1px solid #ccc;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
      -ms-appearance: none;
      appearance: none !important;
      padding-left: 10px;
      font-size: 14px;
      color: #666;
      font-weight: 300;
      font-family: Roboto;
      line-height: 35px;
      height: 35px; }
      /* line 898, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
      .agent-modal-product
.modal-content
.selects
select::-ms-expand {
        display: none; }
      /* line 902, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
      .agent-modal-product
.modal-content
.selects
select:focus {
        outline: none; }
    /* line 907, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .agent-modal-product
.modal-content
.selects:after {
      content: '';
      position: absolute;
      right: 5px;
      top: 17px;
      border: 5px solid transparent;
      border-top: 5px solid #ccc; }
  /* line 918, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .agent-modal-product
.modal-content
.button {
    background-color: #3a6666;
    border-radius: 5px;
    width: 177px;
    height: 30px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    color: #fff !important;
    border: none;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
    display: table; }
  /* line 935, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .agent-modal-product
.modal-content
.add-company {
    overflow: hidden;
    width: calc(100% - 245px);
    display: inline-block;
    float: right; }
    /* line 942, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .agent-modal-product
.modal-content
.add-company
p {
      font-family: Roboto;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      color: #ccc;
      margin-top: 53px; }
    /* line 951, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .agent-modal-product
.modal-content
.add-company
.upload-portfolio {
      font-size: 14px;
      font-weight: 400;
      color: #666;
      margin-top: 5px; }
  /* line 959, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .agent-modal-product
.modal-content
.google-search {
    margin-bottom: 35px; }
    /* line 963, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .agent-modal-product
.modal-content
.google-search
input {
      width: 90%;
      margin: 0 auto;
      display: table;
      border: 1px solid #ccc;
      height: 35px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 5px; }
  /* line 975, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .agent-modal-product
.modal-content
.product {
    width: 175px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin-left: 9px;
    margin-top: 20px; }
    /* line 986, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .agent-modal-product
.modal-content
.product
img {
      width: 100%; }
    /* line 990, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .agent-modal-product
.modal-content
.product
p {
      margin-top: 5px;
      text-align: left;
      margin-left: 10px;
      font-size: 14px;
      font-family: Roboto;
      font-weight: 300;
      color: #666; }
  /* line 1001, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .agent-modal-product
.modal-content
.no-object {
    min-height: 144px; }
  /* line 1005, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .agent-modal-product
.modal-content
.object-add {
    display: inline-block; }
    /* line 1008, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .agent-modal-product
.modal-content
.object-add
img {
      width: 100%;
      height: auto;
      width: 114px;
      margin-right: 10px;
      border-radius: 5px;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3); }
      /* line 1017, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
      .agent-modal-product
.modal-content
.object-add
img:last-of-type {
        margin-right: 14px; }
    /* line 1022, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .agent-modal-product
.modal-content
.object-add
ul {
      padding-left: 20px;
      margin-top: 25px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 2px;
      margin-right: 14px;
      margin-bottom: 10px; }
      /* line 1031, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
      .agent-modal-product
.modal-content
.object-add
ul
li {
        display: inline-block; }
        /* line 1035, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
        .agent-modal-product
.modal-content
.object-add
ul
li
a {
          font-size: 13px;
          font-family: Roboto;
          color: #666;
          font-weight: 400; }
          /* line 1042, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
          .agent-modal-product
.modal-content
.object-add
ul
li
a:before {
            content: '#'; }
  /* line 1050, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .agent-modal-product
.modal-content
textarea {
    width: 100%;
    height: 105px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
    border: 1px solid #ccc;
    padding: 15px 25px; }
    /* line 1060, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .agent-modal-product
.modal-content
textarea + .button {
      float: right;
      margin-top: 10px;
      margin-bottom: 15px; }
  /* line 1067, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .agent-modal-product
.modal-content
.open-create-product {
    display: none; }

/* line 1075, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent-comps
.profile-conten-me {
  border-top: none; }

/* line 1079, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent-comps
.promote-bottom {
  margin-top: 10px; }

/* line 1083, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent-comps
.search {
  width: calc(100% - 406px) !important;
  display: inline-block;
  vertical-align: top;
  margin-top: -4px; }

/* line 1090, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent-comps
.input-container {
  width: 100% !important;
  display: inline-block;
  vertical-align: top;
  margin-top: -4px; }
  /* line 1097, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent-comps
.input-container
.text-input {
    padding: 13px 0px !important; }

/* line 1102, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent-comps
.selects {
  position: relative;
  width: 178px;
  margin-bottom: 18px;
  margin-left: 20px;
  vertical-align: top; }
  /* line 1110, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent-comps
.selects
select {
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    -ms-appearance: none;
    appearance: none !important;
    padding-left: 10px;
    font-size: 14px;
    color: #999;
    font-weight: 300;
    font-family: Roboto;
    line-height: 35px;
    background: #FDFDFD;
    height: 36px; }
    /* line 1130, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent-comps
.selects
select::-ms-expand {
      display: none; }
    /* line 1134, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent-comps
.selects
select:focus {
      outline: none; }
  /* line 1139, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent-comps
.selects:after {
    content: '';
    position: absolute;
    right: 5px;
    top: 17px;
    border: 5px solid transparent;
    border-top: 5px solid #ccc; }

/* line 1149, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-agent-comps
.company {
  width: calc(100% / 3.12);
  background: url(../images/bg-company.png) no-repeat;
  height: 285px;
  padding: 15px;
  display: inline-block;
  background-size: cover;
  margin-bottom: 15px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
  margin-right: 12px; }
  /* line 1161, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent-comps
.company:nth-of-type(3n) {
    margin-right: 0; }
  /* line 1166, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent-comps
.company
.company-img {
    width: 120px;
    border: 1px solid #066;
    border-radius: 3px;
    box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.4);
    display: inline-block;
    vertical-align: top; }
  /* line 1175, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent-comps
.company
.name-company {
    display: inline-block;
    width: calc(100% - 124px);
    padding-left: 10px; }
    /* line 1181, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent-comps
.company
.name-company
h5 {
      font-family: Roboto;
      font-size: 16px;
      line-height: 27px;
      color: #333;
      font-weight: 400; }
    /* line 1190, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent-comps
.company
.name-company
p {
      font-size: 12px;
      line-height: 18px;
      font-weight: 300;
      font-family: Roboto;
      color: #333; }
    /* line 1200, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent-comps
.company
.name-company
span {
      display: block; }
  /* line 1205, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent-comps
.company
.categories {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 10px; }
    /* line 1211, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent-comps
.company
.categories
li {
      display: inline-block; }
      /* line 1215, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
      .profile-agent-comps
.company
.categories
li
a {
        font-family: Roboto;
        font-size: 16px;
        line-height: 18px;
        color: #066; }
        /* line 1222, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
        .profile-agent-comps
.company
.categories
li
a:after {
          content: ','; }
      /* line 1230, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
      .profile-agent-comps
.company
.categories
li:first-child
a {
        color: #333;
        pointer-events: none; }
        /* line 1236, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
        .profile-agent-comps
.company
.categories
li:first-child
a:after {
          display: none; }
      /* line 1246, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
      .profile-agent-comps
.company
.categories
li:last-child
a:after {
        display: none; }
  /* line 1254, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent-comps
.company
.description {
    display: block;
    width: 100%;
    padding-left: 0; }
    /* line 1260, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-agent-comps
.company
.description
li {
      display: inline-block;
      width: 49.3%;
      font-size: 16px;
      line-height: 30px;
      font-weight: 300;
      color: #333; }
      /* line 1269, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
      .profile-agent-comps
.company
.description
li:nth-child(2n) {
        padding-left: 15px; }
  /* line 1277, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent-comps
.company
.author
img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
    border: 1px solid #066;
    display: inline-block;
    vertical-align: middle; }
  /* line 1287, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-agent-comps
.company
.author
p.name {
    font-size: 16px;
    color: #333;
    font-weight: 300;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 10px; }

/* line 1304, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.company
.agent-text {
  width: 95.8%;
  margin: 10px auto;
  float: initial;
  display: table;
  padding: 10px; }
  /* line 1312, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company
.agent-text
ul {
    margin-left: 10px;
    margin-top: 10px; }
  /* line 1317, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company
.agent-text
p:after {
    bottom: -20px !important; }

/* line 1322, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.company
.agents {
  width: 100%; }
  /* line 1326, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company
.agents
.description {
    margin-top: 0; }
  /* line 1330, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company
.agents
.agent {
    height: 120px;
    margin-right: 15px;
    width: 236px;
    margin-left: 0; }
    /* line 1336, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .company
.agents
.agent
img.photo {
      margin: 15px auto 5px; }
  /* line 1341, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company
.agents
.company-description {
    background: #fff;
    border: 4px solid #066;
    box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    overflow: hidden;
    width: 73%;
    margin: 0 auto 15px;
    height: 105px; }
    /* line 1352, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .company
.agents
.company-description.role {
      line-height: 85px; }
      /* line 1356, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
      .company
.agents
.company-description.role
.descr {
        width: 300px;
        text-align: center;
        display: inline-block; }
      /* line 1362, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
      .company
.agents
.company-description.role
h4 {
        margin: 0;
        line-height: 18px;
        text-align: left; }
      /* line 1368, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
      .company
.agents
.company-description.role
a {
        margin-left: 16px; }
    /* line 1373, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .company
.agents
.company-description
.logos {
      border: none;
      box-shadow: none;
      display: inline-block;
      vertical-align: middle;
      width: 170px;
      height: 86px; }
    /* line 1382, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .company
.agents
.company-description
h4 {
      display: inline-block;
      color: #333333;
      font: 400 16px/18px Ubuntu;
      text-transform: uppercase;
      vertical-align: middle;
      margin-left: 10px; }
      /* line 1390, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
      .company
.agents
.company-description
h4
span {
        display: block;
        text-transform: none; }
      /* line 1395, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
      .company
.agents
.company-description
h4
b {
        color: #333333;
        font: 300 14px/18px Roboto;
        display: block;
        text-transform: none; }
    /* line 1404, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .company
.agents
.company-description
a {
      font: 400 13px/30px Roboto;
      color: #666; }
      /* line 1409, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
      .company
.agents
.company-description
a
i:before {
        color: #fff;
        font-size: 18px;
        background: #066;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.4);
        text-align: center;
        line-height: 30px;
        vertical-align: middle;
        margin-right: 0px;
        margin-left: 35px; }
  /* line 1426, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company
.agents
.edit {
    position: absolute;
    right: 0; }
  /* line 1431, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company
.agents
.view-buttons {
    display: inline-block;
    margin-left: 0;
    margin-top: 15px; }
  /* line 1437, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company
.agents
.soc {
    float: right; }

/* line 1444, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.company
.create-profile {
  width: calc(100% - 197px);
  background: #fff;
  display: inline-block;
  vertical-align: middle; }

/* line 1451, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.company
.categories {
  padding-left: 0;
  margin-bottom: 0; }
  /* line 1455, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company
.categories
li {
    display: inline-block; }
    /* line 1459, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .company
.categories
li
a {
      font-family: Roboto;
      font-size: 16px;
      line-height: 18px;
      color: #066; }
      /* line 1466, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
      .company
.categories
li
a:after {
        content: ','; }
    /* line 1474, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .company
.categories
li:first-child
a {
      color: #333;
      pointer-events: none; }
      /* line 1480, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
      .company
.categories
li:first-child
a:after {
        display: none; }
    /* line 1490, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .company
.categories
li:last-child
a:after {
      display: none; }

/* line 1498, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.company
.news {
  width: calc(100% / 3 - 22px);
  display: inline-block;
  position: relative;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0 12px 15px; }
  /* line 1508, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company
.news
img {
    width: 100%;
    height: auto; }
  /* line 1513, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company
.news
p {
    position: absolute;
    top: 50%;
    margin-bottom: 0;
    width: 100%;
    background: #fff;
    line-height: 30px;
    text-align: center;
    margin-top: -15px; }

/* line 1527, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.company
.agent-text
textarea {
  width: 85%;
  height: 60px;
  border: none;
  margin: 10px auto 0;
  display: table; }

/* line 1535, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.company
.agent-text
.textarea {
  position: relative; }
  /* line 1539, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company
.agent-text
.textarea:before,
  .company
.agent-text
.textarea:after {
    font-size: 28px;
    color: #cacaca;
    position: absolute;
    content: '\0052';
    font-family: 'ico';
    top: -10px;
    left: 0px;
    width: 30px;
    height: 30px; }
  /* line 1551, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company
.agent-text
.textarea:after {
    bottom: 0px;
    right: 0px;
    top: inherit;
    left: inherit; }
  /* line 1558, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company
.agent-text
.textarea
label {
    width: 100%;
    max-width: inherit; }

/* line 1565, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.company
.profile-video {
  margin-bottom: 15px;
  height: 181px;
  overflow: hidden;
  display: inline-block; }

/* line 1573, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.company
.video {
  width: 96%;
  display: table;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  overflow: hidden; }
  /* line 1584, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company
.video
iframe {
    margin-bottom: 0;
    border-radius: 5px; }
  /* line 1590, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company
.video
.forma-input {
    width: calc(100% - 335px);
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px; }
    /* line 1600, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .company
.video
.forma-input input.text-input + label,
    .company
.video
.forma-input
input {
      padding-left: 10px; }
  /* line 1605, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company
.video
ul {
    clear: both;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 20px; }
    /* line 1612, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .company
.video
ul
li {
      display: inline-block;
      margin-left: 10px; }
    /* line 1617, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .company
.video
ul
.button {
      width: 97px;
      height: 30px;
      line-height: 30px;
      background: #066;
      border-radius: 3px;
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.24);
      color: #fff;
      display: block;
      text-align: center; }

/* line 1631, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.company
.honours.security-info {
  padding: 0 10px 0 20px; }
  /* line 1635, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company
.honours.security-info
i:before {
    font-size: 27px;
    height: 27px;
    color: #cacaca;
    display: inline-block;
    vertical-align: middle; }
  /* line 1643, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company
.honours.security-info
.input-edit {
    width: 75% !important;
    display: inline-block;
    vertical-align: middle; }
    /* line 1649, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .company
.honours.security-info
.input-edit:last-of-type {
      margin-bottom: 0; }
  /* line 1655, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company
.honours.security-info input.text-input + label,
  .company
.honours.security-info
input {
    padding-left: 10px; }
  /* line 1659, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company
.honours.security-info
.icon-locked59 {
    vertical-align: inherit; }
  /* line 1663, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company
.honours.security-info
.input-container {
    width: 85% !important; }
  /* line 1667, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company
.honours.security-info
.pass {
    margin-left: 60px; }
  /* line 1671, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company
.honours.security-info
ul {
    clear: both;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 20px; }
    /* line 1678, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .company
.honours.security-info
ul
li {
      display: inline-block;
      margin-left: 10px; }
    /* line 1683, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .company
.honours.security-info
ul
.button {
      width: 97px;
      height: 30px;
      line-height: 30px;
      background: #066;
      border-radius: 3px;
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.24);
      color: #fff;
      display: block;
      text-align: center; }

/* line 1697, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.company
.profile-video {
  padding-top: 5px; }

/* line 1704, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-project
.portfolio-item {
  margin-left: 12px;
  width: calc(100% / 3 - 18px);
  position: relative; }
  /* line 1710, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-project
.portfolio-item
img {
    height: 150px; }
  /* line 1714, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-project
.portfolio-item
.conferm {
    width: 90%;
    background: #066;
    border-radius: 5px;
    text-align: center;
    display: block;
    line-height: 30px;
    position: absolute;
    top: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    font-family: Roboto;
    left: 50%;
    margin-left: -45%; }

/* line 1732, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-project
.hashtag {
  margin-bottom: 20px; }

/* line 1736, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-project
.selects {
  float: right;
  width: 194px;
  margin-bottom: 0;
  margin-top: 5px; }
  /* line 1743, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-project
.selects
.icon-view {
    vertical-align: middle; }
    /* line 1747, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .profile-project
.selects
.icon-view:before {
      font-size: 35px;
      color: #cacaca;
      vertical-align: inherit; }
  /* line 1754, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-project
.selects
select {
    width: 140px; }
  /* line 1758, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-project
.selects:after {
    bottom: 10px;
    top: initial; }
  /* line 1763, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-project
.selects
p {
    margin-bottom: 0;
    margin-left: 60px; }

/* line 1769, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-project
.promote-bottom {
  margin-top: 31px; }

/* line 1775, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-project
.project.fd
.promote {
  margin-bottom: 0;
  margin-top: 20px; }

/* line 1780, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-project
.project.fd
.forma-input {
  width: 464px;
  display: inline-block; }
  /* line 1785, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-project
.project.fd
.forma-input
.input-container input {
    padding-left: 10px; }
  /* line 1789, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-project
.project.fd
.forma-input
input.text-input + label {
    top: 5px;
    padding-left: 10px; }
  /* line 1794, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .profile-project
.project.fd
.forma-input
.input-container {
    margin-top: 0; }

/* line 1799, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-project
.project.fd
.text-input.floating-label:focus ~ label {
  top: -10px; }

/* line 1803, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-project
.project.fd
.selects {
  top: -26px;
  position: relative; }

/* line 1811, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.portfolio-item {
  overflow: hidden; }

/* line 1815, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.chart {
  margin-left: 99px; }

/* line 1819, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.left-sitebar-video {
  text-align: center;
  margin-top: 28px; }

/* line 1824, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.profile-content .icon-another_eye:before {
  position: relative;
  z-index: 1; }

/* line 1829, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.view-button {
  z-index: 0;
  padding: 3px 0px 3px 36px; }

/* line 1838, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.company.create
.company-description
.forma-input {
  display: inline-block;
  width: 300px;
  vertical-align: top;
  padding: 0 20px; }

/* line 1845, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.company.create
.company-description
.input-container {
  margin-top: 0;
  margin-bottom: 0; }
  /* line 1851, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company.create
.company-description
.input-container input.text-input + label,
  .company.create
.company-description
.input-container
input {
    padding-left: 10px; }

/* line 1858, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.company.create
.company-description
.input-edit:first-child label {
  text-transform: uppercase; }

/* line 1866, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.company.create
.company-description
.text-input.floating-label:focus ~ label {
  font-size: 0; }

/* line 1872, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.company.create
.create-profile {
  padding: 20px 25px 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.24); }
  /* line 1878, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company.create
.create-profile
.input-edit {
    width: 49.5%;
    display: inline-block; }
    /* line 1883, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .company.create
.create-profile
.input-edit.position {
      width: 100%; }
    /* line 1888, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .company.create
.create-profile
.input-edit
.input-container {
      width: 65% !important;
      vertical-align: bottom;
      margin-bottom: 0; }
    /* line 1894, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .company.create
.create-profile
.input-edit
i:before {
      font-size: 27px;
      color: #cacaca; }
    /* line 1900, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .company.create
.create-profile
.input-edit input.text-input + label,
    .company.create
.create-profile
.input-edit
input {
      padding-left: 10px; }
  /* line 1905, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company.create
.create-profile
.selects {
    width: 290px; }
    /* line 1909, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .company.create
.create-profile
.selects
p {
      margin-bottom: 0; }
    /* line 1913, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .company.create
.create-profile
.selects:after {
      bottom: 12px;
      top: inherit; }
    /* line 1918, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
    .company.create
.create-profile
.selects
select {
      width: 100%; }

/* line 1926, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.company.create
.profil-edited
i:before {
  font-size: 27px;
  height: 27px;
  color: #cacaca;
  display: inline-block;
  vertical-align: middle; }

/* line 1934, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.company.create
.profil-edited
.input-edit {
  width: 49.5%;
  display: inline-block;
  margin-bottom: 0;
  padding: 0 25px; }

/* line 1941, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.company.create
.profil-edited
.input-container {
  width: 80% !important;
  vertical-align: bottom; }

/* line 1947, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.company.create
.profil-edited input.text-input + label,
.company.create
.profil-edited
input {
  padding-left: 10px; }

/* line 1951, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.company.create
.profil-edited
#form_main_information {
  padding: 0 15px; }
  /* line 1954, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .company.create
.profil-edited
#form_main_information
.input-edit-top {
    padding: 5px 25px;
    width: 100%;
    margin-bottom: 15px; }

/* line 1963, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.company.create
.dropzone {
  height: 97px;
  margin-top: 0;
  line-height: 97px;
  width: 137px;
  border: none;
  border-right: 1px solid #066; }

/* line 1973, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
.company.create
.profile-edite {
  display: inline-block;
  width: 192px;
  vertical-align: middle; }

@-moz-document url-prefix()
{
  /* line 1982, D:/ftp/Наш ВПС/hspace.alscon-clients.com/Home-Space/css/styles.scss */
  .agent-modal-product .modal-content .object-add ul {
    margin-bottom: 15px; } }

/*# sourceMappingURL=styles.css.map */
.ui-autocomplete.ui-front.ui-menu.ui-widget{
    z-index: 10000;
}