
.left-sidebar + .col-lg-7 {
    margin-left: 292.5px;
}


.profile-agent
{
	.catalog-box
	{
		margin-top: 10px;
	}	
	
	.profil-img 
	{
		display: inline-block;
		width: 32.3%;
		margin: 5px 2px;
	}
	.catalog-item
	{
		margin-right: 0;
		margin-left: 15px;
		width: 48.5%;
		
		img
		{
			height: 100%;
			width: inherit;
		}
		
		&:nth-of-type(2n+1)
		{
			margin-left: 0;
		}
	}
	.reviews-comment
	{
		.my-content-messages
		{
			p
			{
				color: #666666;
			}
		}
	}
	.showrooms
	{
		.catalog-box
		{
			.catalog-item
			{
				background: #066;
				color: #fff;
				overflow: hidden;
				position: relative;
				
				&:nth-of-type(2n+1)
				{
					margin-left: 15px !important;
				}
				&:nth-of-type(2n)
				{
					margin-left: 0 !important;
				}
				a
				{
					display: block;
    				width: 100%;
				}
				.town
				{
					position: absolute;
					top: 10px;
					right: 15px;
					font-size: 14px;
					font-family: Roboto;
					font-weight: 400;
					color: #666;
				}
				.catalog-img-box
				{
					height: 194px;
				}
				.catalog-caption p
				{
					margin-top: 0;
				}
			}
		}
		.hashtag
		{
			margin-bottom: 10px;
		}
	} 
	.agents
	{
		padding: 0 15px;
		display: inline-block;
		width: 430px;
		
		.logos
		{
			border: 4px solid #066;
			box-shadow: 1px 2px 7px 0.00px rgba(0, 0, 0, 0.4);
			border-radius: 5px;
			overflow: hidden;
			width: 191px;
			height: 95px;
			display: inline-block;
			vertical-align: top;
		}
		.agent
		{
			box-shadow: 1px 2px 7px 0.00px rgba(0, 0, 0, 0.4);
			border-radius: 5px;
			overflow: hidden;
			width: 191px;
			height: 95px;
			display: inline-block;
			background: #fff;
			vertical-align: top;
			margin-left: 13px;
			
			img.photo
			{
				border-radius: 50%;
				border:2px solid #066;
				width: 32px;
				height: 32px;
				display: table;
				margin: 5px auto;
			}
			h5.name
			{
				font-family: Roboto;
				font-size: 20px;
				line-height: 18px;
				color: #333;
				font-weight: 400;
				text-align: center;
				position: relative;
				padding-bottom: 10px;
				margin: 5px auto 0 ; 
				
				&:before
				{
					width: 46px;
					height: 2px;
					background: #066;
					content: '';
					position: absolute;
					bottom: 0;
					left: 50%;
					margin-left: -23px;
				}
			}
			p
			{
				font-family: Roboto;
				font-size: 16px;
				line-height: 20px;
				font-weight: 400;
				color: #333;
				text-align: center;
			}
		}
		.description
		{
			box-shadow: 1px 2px 7px 0.00px rgba(0, 0, 0, 0.4);
			width: 388px;
			height: 120px;
			background: #fff;
			border-radius: 5px;
			margin-top: 15px;
			
			ul
			{
				padding-left: 0;
				li
				{
					
					width: 49.5%;
					display: inline-block;
					margin-top: 12px;
					
					a
					{
						font-family: Roboto;
						line-height: 18px;
						font-weight: 300;
						font-size: 11px;
						color: #666;
						
						i:before
						{
							font-size: 20px;
							vertical-align: middle;
							color: #066;
							
						}
					}
				}
			}
		}
		.soc
		{
			margin-top: 15px;
			
			li
			{
				display: inline-block;
				
				i:before
				{
					color: #fff;
					font-size: 18px;
					background: #066;
					border-radius: 50%;
					width: 30px;
					height: 30px;
					box-shadow: 1px 2px 7px 0.00px rgba(0, 0, 0, 0.4);
					text-align: center;
					line-height: 30px;
				}
			}
		}
	}
	.agent-profil
	{
    	padding-top: 10px;
		background-size: cover; 
		
		&+.promote 
		{
			padding-left: 10px;
		}
	}
	.content
	{
		padding:0 5px;
	}
	.agent-text
	{
		float: right;
		width: calc(100% - 445px);
		background: #fff;
		border-radius: 5px;
		margin-right: 15px;
		position: relative;
		
		
		p
		{
			font-size: 14px;
			line-height: 18px;
			font-family: Roboto;
			color: #333;
			font-weight: 300;
			padding: 36px 15px 20px;
			position: relative;
			&:before,
			&:after
			{
				font-size: 28px;
				color: #066;
				position: absolute;
				content: '\0052';
				font-family: 'ico';
				top: 10px;
				left: 10px;
				width: 30px;
				height: 30px;
			}
			&:after
			{
				bottom: 0px;
				right: 10px;
				top: inherit;
				left: inherit;
			}
		}
		.forma-input
		{
			input.text-input + label,
			input
			{
				padding-left: 10px;
			}
			textarea
			{
				box-shadow: none;
			}
		}
	}
	.consultant
	{
		.profile-edite
		{
			width: 104px !important;
			
			.profil-photo 
			{
				img
				{
					width: 70px;
					height: 70px;
					border: 3px solid #066;
					margin-top: 0;
				}
			}
		}
		
		
		.forma-input 
		{
			width: calc(100% - 109px);
			display: inline-block;
			vertical-align: middle;
			
			.input-edit
			{
				width: calc(100% / 3.04);
				display: inline-block;

				i:before
				{
					font-size: 27px;
					color: #cacaca;
					margin-left: 0 !important;
					vertical-align: bottom;
				}
				.input-container
				{
					width: 65% !important;
					margin: 10px 0 0 0px !important;
				}
				
				&:nth-of-type(4)
				{
					width: 42%;
					
					.input-container
					{
						width: 100% !important;
					}
				}
				
			}
			div.radio-button
			{
				display: inline-block;
				vertical-align: bottom;
				margin-left: 10px;
				label
				{
					font-weight: 300;
					font-size: 14px;
					font-family: Roboto;
					color: #333;
					
				}
				p
				{
					font: 300 13px / 18px Roboto;
					color: #999;
					margin-bottom: 0;
				}
			}
			&+.sline
			{
				width: 95%;
				margin: 20px auto 10px;
			}
		}
		.button
		{
			border:none;
			background: #066;
			color: #fff;
			border-radius: 5px;
			width: 97px;
			height: 30px;
			vertical-align: bottom;
			margin-left: 15px;
		}
		
	}
	.mesages
	{
		box-shadow: 1px 2px 7px 0.00px rgba(0, 0, 0, 0.4);
		background: #fff;
		border-radius: 5px;
		padding-left: 0;
		padding-bottom: 10px;
		width: 95.8%;
    	margin: 10px auto;
		
		li
		{
			list-style: none;
			position: relative;
			padding-left: 25px;
			padding-right: 25px;
			padding-top: 10px;
		
			
			&:before
			{
				border-radius: 50%;
				width: 7px;
				height: 7px;
				background: #066;
				position: relative;
				content: '';
				display: inline-block;
				margin-right: 25px;
				vertical-align: middle;
			}
			img
			{
				width: 32px;
				height: 32px;
				border: 2px solid #066;
				border-radius: 50%;
				margin-right: 10px;
			}
			a
			{
				font-size: 16px;
				font-family: Roboto;
				color: #333;
				font-weight: 300;
			}
			span
			{
				font-size: 14px;
				color: #999;
			}
			i
			{
				margin-right: 0;
				float: right;
				font-size: 14px;
				line-height: 18px;
				color: #333;
				font-weight: 300;
				font-style: normal;
				
				&:before
				{
					color: #fff;
					font-size: 18px;
					background: #066;
					border-radius: 50%;
					width: 30px;
					height: 30px;
					box-shadow: 1px 2px 7px 0.00px rgba(0, 0, 0, 0.4);
					text-align: center;
					line-height: 30px;
					vertical-align: middle;
					margin-right: 15px;
				}
			}
			
		
		}
		
	}
	.mesages + .video
	{
		text-align: center;
		padding: 10px 0 15px;
		
		iframe
		{
			width: 466px;
			height: 260px;
			margin: 0 auto;
			display: table;
		}
	}
	.promote-bottom 
	{
    	margin-top: 13px;
	}
	p.upload-portfolio.download-portfolio.edit 
	{
    	margin-right: 15px;
	}
	.portfolio-top
	{
		h5
		{
			position: relative;
			width: 26%;
		}
		h5 .upload-portfolio.edit 
		{
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	.analytics
	{
		.last-days
		{
			float: right;
			font-size: 12px;
			font-family: Roboto;
			font-weight: 300;
			color: #999;
			margin-top: 23px;
		}
		.promote 
		{
    		margin-top: 22px !important;
		}
		.graphic
		{
			position: relative;
			display: inline-block;
			vertical-align: middle;
			margin-bottom: 15px;
			overflow: hidden;
			
			p
			{
				-webkit-transform: rotate(-90deg);
				transform: rotate(-90deg);
				display: inline-block;
				text-align: center;
				position: absolute;
				left: -70px;
				bottom: 0px;
				top: 52px;
				height: 50px;
				font-family: Roboto;
				font-size: 14px;
				line-height: 27px;
				color: #666;
				font-weight: 400;
				width: 100%;
			}
			img
			{
				padding-left: 83px;
				
			}
		}
		
		ul
		{
			display: inline-block;
			width: calc(100% - 253px);
			vertical-align: middle;
			padding-left: 30px;
			margin-top: -5px;
			
			li
			{
				list-style: none;
				width: 49.5%;
				display: inline-block;
				font: 300 14px / 27px Roboto;
				
				&:nth-child(2n) 
				{
					padding-left: 20px;
					span
					{
						padding-right: 0;
					}
				}
				
				span
				{
					float: right;
					padding-right: 20px;
				}
				i
				{
					width: 15px;
					height: 15px;
					display: inline-block;
					border-radius: 5px;
					vertical-align: middle;
				}
				&.Guests i
				{
					background-color: #cbe4e4;
				}
				&.Agent i
				{
					background-color: #339999;
				}
				&.Homeowner i
				{
					background-color: #99cccc;
				}
				&.Manufacturer i
				{
					background: #2F9292;
				}
				&.Designers i
				{
					background: #006666;
				}
				&.Pros i
				{
					background: #268686;
				}
			}
		}
		a.button
		{
			width: 178px;
			height: 30px;
			background-color: #3a6666;
			border-radius: 5px;
			float: right;
			text-align: center;
			color: #fff;
			line-height: 30px;
			position: relative;
			top: -40px;
		}
	}
	.more-info
	{
		clear: both;
		padding:0 30px;
		display: none;
		overflow: hidden;
		
		
		.graphics
		{
			width: calc(100% / 2);
			float: left;
			vertical-align: top;
			padding:0 25px;
		}
		.chart 
		{
			margin-left: 0;
			display: inline-block;
			vertical-align: middle;
		}
		ul
		{
			display: inline-block;
			vertical-align: middle;
			padding-left: 20px;
			
			li
			{
				list-style: none;
				i
				{
					width: 15px;
					height: 15px;
					display: inline-block;
					border-radius: 5px;
					vertical-align: middle;
				}
				
			}
		}
		p
		{
			text-align: center;
			font: 400 14px / 27px Roboto;
			margin-bottom: 0;
		}
		.graphics-bottom
		{
			padding-top: 40px;
			overflow: hidden;
			display: block;
			clear: both;
		}
		h5
		{
			text-align: center;
			text-transform: uppercase;
			font: 300 14px / 27px Roboto;
			margin-top: 40px;
			color: #999;
		}
	}
	button.submit
	{
		position: absolute;
		width: 30px;
		height: 30px;
		border: none;
		top: 0;
		background: url(../images/search-2.png)no-repeat;
	}
	.input-container
	{
		width: 100% !important;
		
		input.text-input + label,
		input
		{
			padding-left: 40px;
		}
	}
	.promote + h4
	{
		font: 400 16px / 20px Roboto;
		margin-bottom: 5px;
	}
	.name-folder
	{
		margin-top: 15px;
		width: calc(100% / 2.07);
		
		&:nth-of-type(2n) 
		{
			margin-left: 15px;
		}
	}
	.icon-home
	{
		display: inline-block;
		vertical-align: bottom;
		height: 27px;
		
		&:before
		{
			font-size: 27px;
		}
	}
	
	.selects
	{
		position: relative;
		width: 335px;
		margin-bottom: 10px;
		display: inline-block;

		select
		{
			border: none;
			border-bottom: 1px solid #ccc;
			width: 85%;
			-webkit-appearance: none;
			-moz-appearance: none;
			text-indent: 0.01px; 
			text-overflow: '';
			-ms-appearance: none;
			appearance: none!important;
			padding-left: 10px;
			font-size: 14px;
			color: #666;
			font-weight: 300;
			font-family: Roboto;
			line-height: 35px;
			height: 35px;
			display: inline-block;

			&::-ms-expand 
			{
				display: none;
			}
			&:focus
			{
				outline: none;
			}
		}
		&:after
		{
			content: '';
			position: absolute;
			right: 15px;
			top: 17px;
			border: 5px solid transparent; 
			border-top: 5px solid #ccc;

		}
		& + .hashtag
		{
			display: inline-block;
		}
	}
	.mesages.comp
	{
		i
		{
			float: initial;
			
			&:before
			{
				margin-right: 0;
				margin-left: 35px;
			}
		}
		b
		{
			float: right;
			vertical-align:middle;
			font: 300 13px / 30px Roboto;
			color: #066;
		}
		.input-container
		{
    		width: 85% !important;
    		margin: 10px 0 0 65px;
		}
		.input-container input.text-input + label,
		.input-container input
		{
			padding-left: 10px;
		}
	}

}
.agent-modal-product
{
	.modal-dialog
	{
		width: 660px;
	}
	.modal-content
	{
		padding-left: 20px;
		padding-right: 20px;
		overflow: hidden;
		width: 660px;
		 
		h5.title
		{
			font-size: 18px;
			font-family: Ubuntu;
			font-weight: 400;
			color: #666;
			text-align: center;
			margin-top: 10px;
		}
		p.mini-title
		{
			text-align: center;
			font-size: 14px;
			font-weight: 300;
			font-family: Roboto;
			color: #666;
			margin-top: 7px;
			margin-bottom: 0;
			line-height: 14px;  
		}
		.input-container
		{
			margin-top: 0;
			width: 100%;
			
			label
			{
				text-transform: uppercase;
				font-style: normal;
				color: #666; 
			}
		} 
		.forma-input
		{
			width: 230px;
			display: inline-block;
			vertical-align: bottom;
		}
		.selects
		{
			position: relative;
			width: 100%;
			margin-bottom: 10px;
			
			select
			{
				border: none;
				border-bottom: 1px solid #ccc;
				width: 100%;
				-webkit-appearance: none;
				-moz-appearance: none;
				text-indent: 0.01px; 
				text-overflow: '';
				-ms-appearance: none;
				appearance: none!important;
				padding-left: 10px;
				font-size: 14px;
				color: #666;
				font-weight: 300;
				font-family: Roboto;
				line-height: 35px;
				height: 35px;
				
				&::-ms-expand 
				{
    				display: none;
    			}
				&:focus
				{
					outline: none;
				}
			}
			&:after
			{
				content: '';
				position: absolute;
				right: 5px;
				top: 17px;
				border: 5px solid transparent; 
				border-top: 5px solid #ccc;
				
			}
		}
		.button
		{
			background-color: #3a6666;
			border-radius: 5px;
			width: 177px;
			height: 30px;
			font-family: Roboto;
			font-size: 14px;
			font-weight: 300;
			color: #fff !important;
			border: none;
			text-align: center;
			line-height: 30px;
			margin: 0 auto;
			display: table;
			
		}
		.add-company
		{
			overflow: hidden;
			width: calc(100% - 245px);
			display: inline-block;
			float: right;
			
			p
			{
				font-family: Roboto;
				text-align: center;
				font-size: 14px;
				font-weight: 400;
				color: #ccc;
				margin-top: 53px;	
			}
			.upload-portfolio
			{
				font-size: 14px;
				font-weight: 400;
				color: #666;
				margin-top: 5px;
			}
		}
		.google-search 
		{
			margin-bottom: 35px;
			
			input
			{
				width: 90%;
				margin: 0 auto;
				display: table;
				border: 1px solid #ccc;
				height: 35px;
				padding-left: 10px;
				padding-right: 10px;
				border-radius: 5px; 
			}
		}
		.product
		{
			width: 175px;
			display: inline-block; 
			background-color: #ffffff;
			border-radius: 3px;
			box-shadow: 0px 1px 4px 0.00px rgba(0, 0, 0, 0.3);
			overflow: hidden;
			margin-left: 9px;
			margin-top: 20px;
			
			img
			{
				width: 100%;
			}
			p
			{
				margin-top: 5px; 
				text-align: left;
				margin-left: 10px;
				font-size: 14px;
				font-family: Roboto;
				font-weight: 300;
				color: #666;
			}
		}
		.no-object
		{
			min-height: 144px;
		}
		.object-add
		{
			display: inline-block;
			img
			{
				width: 100%;
				height: auto;
				width: 114px;
				margin-right: 10px;
				border-radius: 5px;
				box-shadow: 0px 1px 4px 0.00px rgba(0, 0, 0, 0.3);
				
				&:last-of-type
				{
					margin-right: 14px;
				}
			}
			ul
			{
				padding-left: 20px;
				margin-top: 25px;
				border-bottom: 1px solid #ccc;
				padding-bottom: 2px;
				margin-right: 14px;
				margin-bottom: 10px;
				
				li
				{
					display: inline-block;
					
					a
					{
						font-size: 13px;
						font-family: Roboto;
						color: #666;
						font-weight: 400;
						
						&:before
						{
							content: '#';
						}
					}
				}
			}
		}
		textarea
		{
			width: 100%;
			height: 105px;
			background-color: #ffffff;
			border-radius: 5px;
			box-shadow: 0px 1px 1px 0.00px rgba(0, 0, 0, 0.35);
			border: 1px solid #ccc;
			padding: 15px 25px;
			
			&+ .button
			{
				float: right;
				margin-top: 10px;
				margin-bottom: 15px;
			}
		}
		.open-create-product 
		{
    		display: none;
		}
	}
}
.profile-agent-comps
{
	.profile-conten-me
	{
		border-top:none; 
	}
	.promote-bottom
	{
		margin-top: 10px;
	}
	.search
	{
		width: calc(100% - 406px) !important;
		display: inline-block;
		vertical-align: top;
		margin-top: -4px;
	}
	.input-container
	{
		width: 100% !important;
		display: inline-block;
		vertical-align: top;
		margin-top: -4px;
		
		.text-input 
		{
			padding: 13px 0px !important;
		}
	}
	.selects
	{
		position: relative;
		width: 178px;
		margin-bottom: 18px;
		margin-left: 20px;
		vertical-align: top;
		
		select
		{
			border: none;
			border-bottom: 1px solid #ccc;
			width: 100%;
			-webkit-appearance: none;
			-moz-appearance: none;
			text-indent: 0.01px; 
			text-overflow: '';
			-ms-appearance: none;
			appearance: none!important;
			padding-left: 10px;
			font-size: 14px;
			color: #999;
			font-weight: 300;
			font-family: Roboto;
			line-height: 35px;
			background: #FDFDFD;
			height: 36px;

			&::-ms-expand 
			{
				display: none;
			}
			&:focus
			{
				outline: none;
			}
		}
		&:after
		{
			content: '';
			position: absolute;
			right: 5px;
			top: 17px;
			border: 5px solid transparent; 
			border-top: 5px solid #ccc;
		}
	}
	.company
	{
		width: calc(100% / 3.12);
		background: url(../images/bg-company.png)no-repeat;
		height: 285px;
		padding: 15px;
		display: inline-block;
		background-size: cover;
		margin-bottom: 15px;
		box-shadow: 1px 1px 3px 0.00px rgba(0, 0, 0, 0.4);
		margin-right: 12px;
		
		&:nth-of-type(3n)
		{
			margin-right: 0;
		}
		
		.company-img
		{
			width: 120px;
			border:1px solid #066;
			border-radius: 3px;
			box-shadow: 1px 2px 7px 0.00px rgba(0, 0, 0, 0.4);
			display: inline-block;
			vertical-align: top;
		}
		.name-company 
		{
			display: inline-block;
			width: calc(100% - 124px);
			padding-left: 10px;
			
			h5
			{
				font-family: Roboto;
				font-size: 16px;
				line-height: 27px;
				color: #333;
				font-weight: 400;
				
			}
			p
			{
				font-size: 12px;
				line-height: 18px;
				font-weight: 300;
				font-family: Roboto;
				color: #333;
				
				
			}
			span
			{
				display: block;
			}
		}
		.categories
		{
			padding-left: 0;
			margin-bottom: 0;
			margin-top: 10px;
			
			li
			{
				display: inline-block;
				
				a
				{
					font-family: Roboto;
					font-size: 16px;
					line-height: 18px;
					color: #066;
					
					&:after
					{
						content: ',';
					}
					
				}
				&:first-child
				{
					a
					{
						color: #333;
						pointer-events: none;
						
						
						&:after
						{
							display: none;
						}
					}
				}
				&:last-child
				{
					a
					{
						&:after
						{
							display: none;
						}
					}
				}
			}
		}
		.description
		{
			display: block;
			width: 100%;
			padding-left: 0;
			
			li
			{
				display: inline-block;
				width: 49.3%;
				font-size: 16px;
				line-height: 30px;
				font-weight: 300;
				color: #333;
				
				&:nth-child(2n)
				{
					padding-left: 15px;
				}
			}
		}
		.author
		{
			img
			{
				width: 28px;
				height: 28px;
				border-radius: 50%;
				box-shadow: 0px 1px 4px 0.00px rgba(0, 0, 0, 0.3);
				border: 1px solid #066;
				display: inline-block;
				vertical-align: middle;
			}
			p.name
			{
				font-size: 16px;
				color: #333;
				font-weight: 300;
				vertical-align: middle;
				display: inline-block;
				margin-bottom: 0;
				margin-left: 10px;
			}
		}
		
		
	}
}
.company
{
	.agent-text
	{
		width: 95.8%;
    	margin: 10px auto;
		float: initial;
		display: table;
		padding: 10px;
		
		ul
		{
			margin-left: 10px;
			margin-top: 10px;
		}
		p:after 
		{
    		bottom: -20px !important;
		}
	}
	.agents
	{
		width: 100%;
		
		.description
		{
			margin-top: 0;	
		}
		.agent
		{
			height: 120px;
			margin-right: 15px;
			width: 236px;
			margin-left: 0;
			img.photo
			{
				margin: 15px auto 5px;
			} 
		}
		.company-description
		{
			background: #fff;
			border: 4px solid #066;
			box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.4);
			border-radius: 5px;
			overflow: hidden;
			width: 73%;
    		margin: 0 auto 15px;
			height: 105px;
			
			&.role
			{
				line-height: 85px;
				
				.descr
				{
					width: 300px;
					text-align: center;
					display: inline-block;
				}
				h4
				{
					margin: 0;
					line-height: 18px;
					text-align: left;
				}
				a 
				{
    				margin-left: 16px;
				}
			}
			.logos
			{
				border: none;
				box-shadow: none;
				display: inline-block;
				vertical-align: middle;
				width: 170px;
				height: 86px;
			}
			h4
			{
				display: inline-block;
				color: #333333;
				font: 400 16px / 18px Ubuntu;
				text-transform: uppercase;
				vertical-align: middle;
				margin-left: 10px;
				span
				{
					display: block;
					text-transform: none;
				}
				b
				{
					color: #333333;
					font: 300 14px / 18px Roboto;
					display: block;
					text-transform: none;
				}

			}
			a 
			{
				font: 400 13px / 30px Roboto;
				color: #666;
				
				i:before
				{
					color: #fff;
					font-size: 18px;
					background: #066;
					border-radius: 50%;
					width: 30px;
					height: 30px;
					box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.4);
					text-align: center;
					line-height: 30px;
					vertical-align: middle;
					margin-right: 0px;
					margin-left: 35px;
				}
			}
		}
		.edit
		{
			position: absolute;
			right: 0;
		}
		.view-buttons 
		{
			display: inline-block;
			margin-left: 0;
			margin-top: 15px;
		}
		.soc
		{
			float: right;
		}
		
		
	}
	.create-profile
	{
		width: calc(100% - 197px);
		background: #fff;
		display: inline-block;
		vertical-align: middle;
	}
	.categories
	{
		padding-left: 0;
		margin-bottom: 0;
		li
		{
			display: inline-block;

			a
			{
				font-family: Roboto;
				font-size: 16px;
				line-height: 18px;
				color: #066;

				&:after
				{
					content: ',';
				}

			}
			&:first-child
			{
				a
				{
					color: #333;
					pointer-events: none;


					&:after
					{
						display: none;
					}
				}
			}
			&:last-child
			{
				a
				{
					&:after
					{
						display: none;
					}
				}
			}
		}
	}
	.news
	{
		width: calc(100% / 3 - 22px);
		display: inline-block;
		position: relative;
		box-shadow: 0px 1px 4px 0.00px rgba(0, 0, 0, 0.3);
		border-radius: 5px;
		overflow: hidden;
		margin: 12px 0 12px 15px;
		
		img
		{
			width: 100%;
			height: auto;
		}
		p
		{
			position: absolute;
			top: 50%;
			margin-bottom: 0;
			width: 100%;
			background: #fff;
			line-height: 30px;
			text-align: center;
			margin-top: -15px;
		}
	}
	.agent-text
	{
		textarea
		{
			width: 85%;
			height: 60px;
			border: none;
			margin: 10px auto 0;
			display: table;
		}
		.textarea
		{
			position: relative;
			&:before,
			&:after
			{
				font-size: 28px;
				color: #cacaca;
				position: absolute;
				content: '\0052';
				font-family: 'ico';
				top: -10px;
				left: 0px;
				width: 30px;
				height: 30px;
			}
			&:after 
			{
				bottom: 0px;
				right: 0px;
				top: inherit;
				left: inherit;
			}
			label
			{
				width: 100%;
				max-width: inherit;
			}
		}
	}
	.profile-video
	{
		margin-bottom: 15px;
		height: 181px;
		overflow: hidden;
		display: inline-block;
		
	}
	.video
	{
		width: 96%;
		display: table;
		margin: 0 auto;
		background: #fff;
		border-radius: 5px;
		overflow: hidden;
		
		
		
		iframe
		{
			margin-bottom: 0;
			border-radius: 5px;
		}
		
		.forma-input 
		{
			width: calc(100% - 335px);
			display: inline-block;
			vertical-align: top;
			padding-left: 30px;
			padding-top: 30px;
			padding-right: 30px;
			
			input.text-input + label,
			input
			{
				padding-left: 10px;
			}
		}
		ul
		{
			clear: both;
			text-align: right;
			padding-top: 15px;
			padding-bottom: 20px;
			
			li
			{
				display: inline-block;
				margin-left: 10px;
			}
			.button
			{
				width: 97px;
				height: 30px;
				line-height: 30px;
				background: #066;
				border-radius: 3px;
				box-shadow: 0px 1px 1px 0.00px rgba(0, 0, 0, 0.24);
				color: #fff;
				display: block;
				text-align: center;
			}
		}
	}
	.honours.security-info
	{
		padding: 0 10px 0 20px;
		
		i:before
		{
			font-size: 27px;
			height: 27px;
			color: #cacaca;
			display: inline-block;
			vertical-align: middle;
		}
		.input-edit
		{
			width: 75% !important;
			display: inline-block;
			vertical-align: middle;
			
			&:last-of-type
			{
				margin-bottom: 0;
			}
		}
		input.text-input + label, 
		input
		{
			padding-left: 10px;
		}
		.icon-locked59
		{
			vertical-align: inherit;
		}
		.input-container
		{
			width: 85% !important;
		}
		.pass
		{
			margin-left: 60px;
		}
		ul
		{
			clear: both;
			text-align: right;
			padding-top: 15px;
			padding-bottom: 20px;
			
			li
			{
				display: inline-block;
				margin-left: 10px;
			}
			.button
			{
				width: 97px;
				height: 30px;
				line-height: 30px;
				background: #066;
				border-radius: 3px;
				box-shadow: 0px 1px 1px 0.00px rgba(0, 0, 0, 0.24);
				color: #fff;
				display: block;
				text-align: center;
			}
		}
	}
	.profile-video
	{
		padding-top: 5px;
	}
}
.profile-project
{
	.portfolio-item
	{
		margin-left: 12px;
		width: calc(100% / 3 - 18px);
		position: relative;
		
		img
		{
			height: 150px;
		}
		.conferm
		{
			width: 90%;
			background: #066;
			border-radius: 5px;
			text-align: center;
			display: block;
			line-height: 30px;
			position: absolute;
			top: 15px;
			color: #fff;
			font-size: 14px;
			font-weight: 300;
			font-family: Roboto;
			left: 50%;
			margin-left: -45%;
		}
	}
	.hashtag
	{
		margin-bottom: 20px;
	}
	.selects
	{
		float: right;
		width: 194px;
		margin-bottom: 0;
		margin-top: 5px;
		
		.icon-view
		{
			vertical-align: middle;
			
			&:before
			{
				font-size: 35px;
				color: #cacaca;
				vertical-align: inherit;
			}
		}
		select
		{
			width: 140px;
		}
		&:after 
		{
			bottom: 10px;
			top: initial;
		}
		p
		{
			margin-bottom: 0;
			margin-left: 60px;
		}
	}
	.promote-bottom 
	{
  		 margin-top: 31px;
	}
	.project.fd
	{
		.promote 
		{
			margin-bottom: 0;
			margin-top: 20px;
		}
		.forma-input
		{
			width: 464px;
			display: inline-block;
			
			.input-container input 
			{
				padding-left: 10px;
			}
			input.text-input + label
			{
				top: 5px;
				padding-left: 10px;
			}
			.input-container
			{
				margin-top: 0;
			}
		}
		.text-input.floating-label:focus ~ label
		{
			top: -10px;
		}
		.selects
		{
			top: -26px;
			position: relative;
		}
	}
	
}
.portfolio-item
{
	overflow: hidden;
}
.chart
{
	margin-left: 99px;
}
.left-sitebar-video
{
	text-align: center;
	margin-top: 28px;
}
.profile-content .icon-another_eye:before
{
	position: relative;
	z-index: 1;
}
.view-button
{
	z-index: 0;
	padding: 3px 0px 3px 36px;
}
.company.create
{
	.company-description
	{
		.forma-input
		{
			display: inline-block;
			width: 300px;
			vertical-align: top;
			padding: 0 20px;
		}
		.input-container
		{
			margin-top: 0;
			margin-bottom: 0;

			input.text-input + label,
			input
			{
				padding-left: 10px;
			}
		}
		.input-edit
		{
			&:first-child label
			{

				text-transform: uppercase;
			}
		}
		.text-input
		{
			&.floating-label:focus ~ label
			{
				font-size: 0;
			}
		}
	}
	.create-profile
	{
		padding:20px 25px 10px;
		border-radius: 5px;
		box-shadow: 0px 1px 1px 0.00px rgba(0, 0, 0, 0.24);
		
		.input-edit
		{
			width: 49.5%;
			display: inline-block;
			
			&.position
			{
				width: 100%;
			}
			
			.input-container
			{
				width: 65% !important;
				vertical-align: bottom;
				margin-bottom: 0;
			}
			i:before
			{
				font-size: 27px;
				color: #cacaca;
			}
			input.text-input + label, 
			input
			{
				padding-left: 10px;
			}
		}
		.selects 
		{
			width: 290px;
			
			p
			{
				margin-bottom: 0;
			}
			&:after
			{
				bottom: 12px;
				top: inherit;
			}
			select
			{
				width: 100%;
			}
		}	
	}
	.profil-edited
	{
		i:before
		{
			font-size: 27px;
			height: 27px;
			color: #cacaca;
			display: inline-block;
			vertical-align: middle;
		}
		.input-edit
		{
			width: 49.5%;
			display: inline-block;
			margin-bottom: 0;
			padding: 0 25px;
		}
		.input-container
		{
			width: 80% !important;
			vertical-align: bottom;
		}
		input.text-input + label,
		input
		{
			padding-left: 10px;
		}
		#form_main_information
		{
			padding: 0 15px;
			.input-edit-top
			{
				padding: 5px 25px;
				width: 100%;
				margin-bottom: 15px;
			}
		} 
		
	}
	.dropzone
	{
		height: 97px;
		margin-top: 0;
		line-height: 97px;
		width: 137px;
		border: none;
		border-right:1px solid #066; 
	}

	.profile-edite
	{
		display: inline-block;
		width: 192px;
		vertical-align: middle;
	}
}
@-moz-document url-prefix() 
{ 
	.agent-modal-product .modal-content .object-add ul
	{
		margin-bottom: 15px;
	}
}